@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'sa-ard';
	src: url('/fonts/sa-ard.otf') format('opentype');
}

$primary: #299956;
$secondary: #5a5c9a;
$accent: #71aaff;
$softBlack: #262525;
$softWhite: #f2f2f2;
$offWhite: #f1e8df;
$softGrey: #b4b4b4;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'IBM Plex Sans Thai', 'Noto Sans Thai Looped', sans-serif;
	font-weight: 400;
	font-size: 16px;

	background-color: $offWhite;
	color: $softBlack;

	overflow-x: hidden;
}

.fancy {
	font-family: 'Noto Sans Thai looped', sans-serif;
	font-weight: 300;
}

h1 {
	font-weight: 700;
	font-size: 32px;
}

h2 {
	font-weight: 600;
	font-size: 22px;
}

h3 {
	font-weight: 500;
	font-size: 18px;
}

p {
	font-weight: 400;
	font-size: 18px;
}

button {
	font-family: 'IBM Plex Sans Thai', 'Noto Sans Thai Looped', sans-serif;

	font-weight: 500;
	font-size: 18px;

	padding: 0.4em 2em;
	border-width: 0;
	border-radius: 10em;

	cursor: pointer;

	&:hover {
		box-shadow: 0 0.2em 0;
		transform: translateY(0.1em);
	}

	&:active {
		box-shadow: none;
		transform: translateY(0.2em);
	}
}

.primary {
	background-color: $primary;
	border: 2px solid $primary;
	color: $softWhite;

	box-shadow: 0 0.35em 0 #12725b;
}

.secondary {
	background-color: $softWhite;
	border: 2px solid $secondary;
	color: $secondary;

	box-shadow: 0 0.35em 0 $secondary;
}

.disabled {
	background-color: $softGrey;
	border: 2px solid $softGrey;
	color: $softWhite;

	cursor: not-allowed;

	box-shadow: none;
}
