@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

h1 {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 700;
}

h2 {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 600;

	font-size: 21;
}

h3 {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 500;

	font-size: 16;
}

p {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 400;
	font-size: 16;
}
